<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mazenki.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
				<key>dateExpires</key>
				<string>5/22/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15280</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxAnnotationExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.10.14</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fl_location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_foreground_task.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mapbox_gl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>poly_geofence_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6BBF24B4169D5A1BF66CC1E8737C545E21A1849F</string>
						<key>dateExpires</key>
						<string>5/22/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DV2XTVQ935</string>
						<key>name</key>
						<string>NWTB LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DV2XTVQ935.net.vaguenone.mazenki.mazenki</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DV2XTVQ935</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9ff4f7f3-c93f-4116-9df3-0b84c3923e0f</string>
				<key>dateExpires</key>
				<string>3/16/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: net.vaguenone.mazenki.mazenki</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DV2XTVQ935</string>
				<key>name</key>
				<string>NWTB LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
